<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blog.ojisan.io</title>
    <link
      href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c"
      rel="stylesheet"
      id="webfont"
    />
    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./top.css" />
  </head>
  <body>
    <div class="blog_title">blog.ojisan.io</div>
    <div class="items">
      {% for item in items %}
      <a href="./{{item.path}}/index.html">
        <div class="item">
          <img
            data-src="./{{item.path}}/visual.png"
            class="visual lazyload"
            loading="lazy"
          />
          <div class="title">
            <time>{{item.created_at}}</time>
            <p>{{item.title}}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
  <script>
    if ("loading" in HTMLImageElement.prototype) {
      const images = document.querySelectorAll('img[loading="lazy"]');
      images.forEach(function (img) {
        img.src = img.dataset.src;
      });
    } else {
      const script = document.createElement("script");
      script.src =
        "https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js";
      document.body.appendChild(script);
    }
  </script>
  <script>
    if ("loading" in HTMLImageElement.prototype) {
    } else {
      lazyload();
    }
  </script>
</html>
