<!DOCTYPE html>
<html lang="jp">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-119542494-2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-119542494-2");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blog.ojisan.io</title>
    <meta name="description" content="ojisanのblog" />
    <meta property="og:title" content="blog.ojisan.io" />
    <meta property="og:image" content="https://blog.ojisan.io/visual.png" />
    <meta property="og:description" content="ojisanのblog" />
    <meta property="og:type" content="article" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@sadnessOjisan" />
    <meta name="twitter:title" content="blog.ojisan.io" />
    <meta name="twitter:description" content="ojisanのblog" />
    <link
      href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c"
      rel="stylesheet"
      id="webfont"
    />
    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./top.css" />
  </head>
  <body>
    <div class="blog_title">blog.ojisan.io</div>
    <div class="items">
      {% for item in items %}
      <a href="{{item.path}}">
        <div class="item">
          <img
            src="./{{item.path}}/visual.png"
            data-src="./{{item.path}}/visual.png"
            class="visual lazyload"
            loading="lazy"
          />
          <div class="title">
            <time>{{item.created_at}}</time>
            <p>{{item.title}}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    <footer>
      <p>
        このサイトでは Google
        Analyticsでの計測のため、クッキーを利用しています。
      </p>
      <p>
        このサイトのソースコードは<a
          href="https://github.com/sadnessOjisan/new-blog.ojisan.io"
          >こちら</a
        >。
      </p>
      <p>©︎ <a href="https://twitter.com/sadnessOjisan">sadnessOjisan</a></p>
    </footer>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
  <script>
    if ("loading" in HTMLImageElement.prototype) {
    } else {
      const script = document.createElement("script");
      script.src =
        "https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js";
      document.body.appendChild(script);
    }
  </script>
  <script>
    if ("loading" in HTMLImageElement.prototype) {
    } else {
      lazyload();
    }
  </script>
</html>
