<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="../post.css" />
    <link rel="stylesheet" href="../reset.css" />
  </head>
  <body>
    <header>
      <span class="title">blog.ojisan.io</span>
    </header>
    <ul class="tags">
      {% for tag in tags -%}
      <li class="tag">{{tag}}</li>
      {%- endfor %}
    </ul>
    <div class="post-contents">{{ content }}</div>
  </body>
</html>
