@import "./footer.scss";
@import "./media.scss";

$header_height: 60px;

$text_color: #333333;
$date_color: #7a7a7a;

body {
  background: #f9f9f9;
  font-family: "M PLUS Rounded 1c";
  color: $text_color;
}

header {
  height: $header_height;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: solid 1px white;
  .title {
    color: rgb(0, 112, 163);
    font-weight: bold;
    font-size: 24px;
    @include mq(md) {
      font-size: 32px;
    }
  }
  a {
    text-decoration: none;
  }
  a:hover {
    cursor: pointer;
  }
  a:visited {
    color: inherit;
  }
}

.post-head {
  max-width: 1080px;
  margin: auto;
  margin-top: 68px;
  time {
    display: block;
    margin-top: 12px;
    margin-bottom: 8px;
    color: $date_color;
  }
  h1 {
    font-size: 30px;
    line-height: 1;
    @include mq(md) {
      font-size: 48px;
    }
  }
  .content-meta {
    padding: 16px;
    padding-bottom: 0px;
  }
  .key_visual {
    width: 100%;
    height: 190px;
    object-fit: cover;
    @include mq(md) {
      height: 480px;
    }
  }
}

.post-contents {
  max-width: 1080px;
  margin: auto;
  padding: 16px;
  a {
    color: rgb(0, 112, 163);
  }

  h2 {
    font-size: 28px;
    margin: 24px 0px;
    border-bottom: 1px solid #eaecef;
    @include mq(md) {
      font-size: 36px;
    }
  }

  h3 {
    font-size: 24px;
    margin: 20px 0px;
  }

  p {
    line-height: 1.5;
    margin: 8px 0px;
    code {
      background-color: #eeeeee;
      padding: 4px;
      border-radius: 4px;
    }
  }

  iframe {
    display: block;
    margin: 32px auto;
  }

  img {
    width: 600px;
    height: 360px;
    object-fit: contain;
    margin: 32px auto;
  }

  pre {
    code {
      font-family: Inconsolata !important;
      padding: 8px;
      border-radius: 8px;
    }
  }

  blockquote {
    background: #f9f9f9;
    border-left: 4px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote p {
    display: inline;
  }
}
