/* 投稿ページのスタイリング */

.tags {
  display: flex;
  list-style-type: none;
}

.tag {
  padding: 4px;
  border: solid 1px gray;
}

.post-contents h1 {
  font-size: 48px;
}

.post-contents h2 {
  font-size: 36px;
}
